@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/*Base CSS*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}


ul{
  list-style: none;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/*Reusable CSS*/
.section-1{
  padding: 2rem 0 4rem;
}

.section-title{
  font-size: 1.5rem;
}

.section-subtitle{
  display: block;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.section-title,
.section-subtitle{
  text-align: center;
}

/*Layout*/

.grid{
  display: grid;
}
